<%= link_to 'All images', images_path, class:"lien" %>
<h1><%= @image.title %></h1>
 
<%= image_tag(@image.img.url, alt: 'Image') if @image.img? %>
 
<p><%= @image.body %></p>
 
<p><%= link_to 'Edit', edit_image_path(@image) , class: "lien" %></p>